Source: ros-kilted-moveit-msgs
Section: misc
Priority: optional
Maintainer: Dave Coleman <dave@dav.ee>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-action-msgs, ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-cmake <!nocheck>, ros-kilted-geometry-msgs, ros-kilted-object-recognition-msgs, ros-kilted-octomap-msgs, ros-kilted-rosidl-default-generators, ros-kilted-sensor-msgs, ros-kilted-shape-msgs, ros-kilted-std-msgs, ros-kilted-trajectory-msgs, ros-kilted-ros-workspace, ros-kilted-rosidl-typesupport-fastrtps-c, ros-kilted-rosidl-typesupport-fastrtps-cpp
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-kilted-moveit-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-action-msgs, ros-kilted-geometry-msgs, ros-kilted-object-recognition-msgs, ros-kilted-octomap-msgs, ros-kilted-rosidl-default-runtime, ros-kilted-sensor-msgs, ros-kilted-shape-msgs, ros-kilted-std-msgs, ros-kilted-trajectory-msgs, ros-kilted-ros-workspace
Description: Messages, services and actions used by MoveIt
